.output_block {
    display: flex;

}

.output {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    text-align: center;
    background: #1E2142;
    color: whitesmoke;
    font-size: 16px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_copy {
    cursor: pointer;
    background-color: #1E2142;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

