.btn_block{
    width: 100%;

}

.btn {
    width: 100%;
    margin-top: 20px;
    background: -webkit-linear-gradient(90deg, #685ff2,#734ae3,#b261f5);
    background: linear-gradient(90deg, #685ff2,#734ae3,#b261f5);
    color: white;
    border-radius: 20px;
    padding: 10px 16px;
    align-self: flex-end;
    font-size: 18px;
    cursor: pointer;
}